@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}
@mixin filter($filter) {
	-webkit-filter: grayscale($filter);
    -ms-filter: grayscale($filter);
    filter: grayscale($filter);
}
@mixin blur($blur) {
	-webkit-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}
@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-apple-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform:    rotate($deg);
	-ms-transform:     rotate($deg);
	-o-transform:      rotate($deg);
}