@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$black: #000000;
$black-light: #222222;
$gray: #999999;
$white: #ffffff;
$red: #ff0000;
$pink: #ce0071;
$purple: #7f00a5;
$blue: #0500b2;
$green: #72b500;
$yellow: #ffff00;
$gold: #ffc700;

//---fonts---
$font-primary: 'Raleway', sans-serif;
$font-style: 'Kaushan Script', cursive;